# ignore virtual environment
.venv/

# Ignore python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# ignore log and debug files
logs/
*.log

# ignore large / binary files
*.wav
*.mp3
*.flac
*.m4a
*.mp4
*.avi
*.mov
*.ogg
*.webm
*.pth